body{
	background-color: yellow;
}
.grid {
	background-color: green;
}
.header {
	background-color: black;
	color: silver;
	font-size: 1.4em;
	text-align: center;
	vertical-align: middle;
	background-image: url("../images/header.png");
	width: 100%;
	height: 150px;
	
}
.grid TD {
	width: 50%;
}